body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
}

.banner {
    width: 40vw;
    height: 100vh;
    background-image: url("../img/banner.png");
    background-size: cover;
}

.banner img {
    width: 350px;
    margin-top: 50px;
    margin-left: 85px;
}

.banner2 {
    width: 60vw;
    height: 100vh;
    background-color: beige;
}

.banner2 .container {
    height: 100%;
}

.navbar {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    padding: 0;
    list-style: none;
    color: #0E1170;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: #0E1170;
}

.agora {
    font-weight: 900;
}

.borda {
    border: 2px solid #E50508;
    padding: 4px 20px;
    border-radius: 16px;
}

a:hover {
    color: #E50508;
    text-decoration: underline;
}

.borda:hover {
    border-color: #0E1170;
    color: #E50508;
}

.texto p {
    color: #000000;
    font-size: 26px;
    width: 500px;
    padding-top: 130px;
    margin-right: 20px;
    display: flex;
}

.avalie {
    display: flex;
    flex-direction: column;
}

.buttonAvalie {
    cursor: pointer;
    border: 2px solid #E50508;
    border-radius: 25px;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px;
    color: black;
    background-color: transparent;
    width: 140px;
    height: 50px;
    align-self: center;
    margin-top: 80px;
}

button:hover {
    background-color: #ff3b3e;
    color: #FFFFFF;
    cursor: pointer;
}

.avalie img {
    width: 50px;
    margin-left: 300px;
    margin-top: 10px;
}

.avalie p {
    font-size: 15px;
    margin-left: 170px;
}

.footer {
    background-color: #0E1170;
    height: 80px;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
}

.footer h4 {
    text-align: center;
}

.footer .container {
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
