body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: beige;
}

.janela {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.janela .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #E50508;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.header .container img {
  width: 100px;
  margin-left: 100px;
}

.dropbtn {
  color: #0E1170;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-size: 20px;
  padding: 16px;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.dropbtn:hover {
  background-color: transparent;
  color: #E50508;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: beige;
  min-width: 185px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #E50508;
  text-decoration: underline;
}

.dropicon {
  color: #0E1170;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 800px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: #0E1170;
}

.agora {
  font-weight: 900;
  text-decoration: underline;
}

.borda {
  border: 2px solid #E50508;
  padding: 4px 20px;
  border-radius: 16px;
}

a:hover {
  color: #E50508;
  text-decoration: underline;
}

.borda:hover {
  border-color: #0E1170;
  color: #E50508;
}

.hello {
  width: 10%;
  color: #E50508;
  align-items: center;
  justify-content: center;
}

.dash {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 550px;
  background: rgba(0, 4, 255, 0.527);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
  border-radius: 10px;
  border: 1px solid rgba(0, 17, 255, 0);
  border-radius: 10px;
}

.regua {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
}

.otimo {
  background-color: #16b900;
}

.bom {
  background-color: #0059ff;
}

.regular {
  background-color: #fbff00;
}

.ruim {
  background-color: #ff9900;
}

.muito-ruim {
  background-color: #ff0000;
}

.item-regua {
  width: 50%;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
}

.graph {
  width: 80%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: #E50508;
  display: flex;
  justify-content: center;
}