* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    border-bottom: 2px solid #E50508;
}

.header .container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
}

.header .container img {
    width: 100px;
    margin-left: 100px;
}

.dropbtn {
    color: #0E1170;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.dropbtn:hover {
    background-color: transparent;
    color: #E50508;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #E50508;
    text-decoration: underline;
}

.dropicon {
    color: #0E1170;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 800px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: #0E1170;
}

.agora {
    font-weight: 900;
    text-decoration: underline;
}

.borda {
    border: 2px solid #E50508;
    padding: 4px 20px;
    border-radius: 16px;
}

a:hover {
    color: #E50508;
    text-decoration: underline;
}

.borda:hover {
    border-color: #0E1170;
    color: #E50508;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.historia {
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.historia button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    background-color: #E50508;
    border-radius: 8px;
}

.historia button:hover {
    background-image: linear-gradient(to right,
      #E50500,
      #ff3434,
      #ff484b);
}

.carrossel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 530px;
    width: 975px;
    display: inline-flex;
}

.carrossel .container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.carrossel .container img {
    object-fit: cover;
    height: 550px;
    width: 975px;
}