body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner {
  width: 40vw;
  height: 100vh;
  background-image: url('../assets/img/banner.png');
  background-size: cover;
}

.banner img {
  width: 350px;
  margin-top: 50px;
  margin-left: 85px;
}

.banner2 {
  width: 60vw;
  height: 100vh;
  background-color: beige;
}

.banner2 .container {
  height: 100%;
}

.dropbtn {
  color: #0E1170;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-size: 20px;
  padding: 16px;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.dropbtn:hover {
  background-color: transparent;
  color: #E50508;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: beige;
  min-width: 185px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #E50508;
  text-decoration: underline;
}

.dropicon {
  color: #0E1170;
}

.navbar {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  color: #0E1170;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: #0E1170;
}

.agora {
  font-weight: 900;
  text-decoration: underline;
}

.borda {
  border: 2px solid #E50508;
  padding: 4px 20px;
  border-radius: 16px;
}

a:hover {
  color: #E50508;
  text-decoration: underline;
}

.borda:hover {
  border-color: #0E1170;
  color: #E50508;
}

.texto {
  height: 345px;
}

.texto p {
  color: #000000;
  font-size: 26px;
  width: 500px;
  padding-top: 90px;
  margin-right: 20px;
  display: flex;
}

.clique {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.clique p {
  font-size: 15px;
  padding: 0;
  margin-top: 30px;
}

.clique img {
  width: 70px;
  margin: 0;
}

.clique img:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60px;
  border: none;
  background-position: top;
  transform: translateY(-10px);
  transition: 1s;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.sobre {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner3 {
  width: 60vw;
  height: 100vh;
  background-color: beige;
}

.banner3 .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  letter-spacing: 3px;
}

.banner3 .container p {
  width: 450px;
  font-size: 25px;
}

.pernambuco {
  background-image: linear-gradient(to bottom,
      #E50508,
      #fbff00,
      #1eff00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.banner4 {
  width: 40vw;
  height: 100vh;
  background-image: url('../assets/img/banner2.png');
  background-size: cover;
}

.sobre2 {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner5 {
  width: 40vw;
  height: 100vh;
  background-image: url('../assets/img/banner3.png');
  background-size: cover;
}

.banner6 {
  width: 60vw;
  height: 100vh;
  background-color: beige;
}

.banner6 .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  letter-spacing: 3px;
}

.banner6 .container p {
  width: 450px;
  font-size: 25px;
}

.avalie {
  display: flex;
  flex-direction: column;
  height: 40px;
}

.avalie img {
  width: 40px;
  align-self: center;
  margin-top: 30px;
}

.content-footer {
  background-color: #0E1170;
}

.content-footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-footer .container h4 {
  color: #FFFFFF;
}

ion-icon {
  color: #FFFFFF;
}

.footer {
  background-color: #0E1170;
  height: 80px;
  color: #FFFFFF;
  display: flex;
  font-size: 15px;
}

.footer h4 {
  text-align: center;
}

.footer .container {
  align-items: center;
  justify-content: center;
  display: flex;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}

/* .buttonAvalie {
  cursor: pointer;
  border: 2px solid #E50508;
  border-radius: 25px;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 15px;
  color: black;
  background-color: transparent;
  width: 140px;
  height: 50px;
  align-self: center;
  margin-top: 80px;
}

button:hover {
  background-color: #ff3b3e;
  color: #FFFFFF;
  cursor: pointer;
} */