body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    border-bottom: 2px solid #E50508;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.header .container img {
    width: 100px;
    margin-left: 100px;
}

.dropbtn {
    color: #0E1170;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    padding: 16px;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.dropbtn:hover {
    background-color: transparent;
    color: #E50508;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: beige;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #E50508;
    text-decoration: underline;
}

.dropicon {
    color: #0E1170;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 800px;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: #0E1170;
}

.agora {
    font-weight: 900;
    text-decoration: underline;
}

.borda {
    border: 2px solid #E50508;
    padding: 4px 20px;
    border-radius: 16px;
}

a:hover {
    color: #E50508;
    text-decoration: underline;
}

.borda:hover {
    border-color: #0E1170;
    color: #E50508;
}

.alerta_erro {
    display: flex;
    justify-content: center;
}

.card_erro {
    display: none;
    background-color: #0E1170;
    color: white;
    width: 180px;
    position: fixed;
    border-radius: 4px;
    padding: 10px;
    margin-right: 82%;
    margin-top: 1%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.banner {
    height: 100vh;
}

.banner .container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.frevo {
    display: flex;
    margin: auto;
}

.frevo img {
    width: 500px;
}

.card {
    color: #000000;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgba(0, 4, 255, 0.527);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgba(0, 17, 255, 0);
}

form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0;
}

label {
    color: #000000;
    font-weight: bolder;
    padding: 0;
    margin-top: 6px;
    font-size: 15px;
}

select {
    background-color: rgba(23, 36, 212, 0.781);
    color: rgb(160, 160, 160);
    height: 33px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 8px;
}

select option {
    background-color: white;
    color: #000000;
}

select:hover {
    border: 2px solid #E50508;
}

form input {
    margin-top: 8px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid transparent;
    background-color: rgba(23, 36, 212, 0.781);
}

input::placeholder {
    color: rgb(160, 160, 160);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

input:hover {
    border: 2px solid #E50508;
}

form button {
    cursor: pointer;
    border: 2px solid #E50508;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 15px;
    color: black;
    background-color: transparent;
    width: 100px;
    height: 40px;
    align-self: center;
    margin-top: 12px;
}

button:hover {
    background-color: rgba(23, 36, 212, 0.781);
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}

.loading-div {
    width: 60px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

.banner #div_erros_login {
    margin-top: 15px;
}

.content-footer {
    background-color: #E50508;
}

.content-footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-footer .container h4 {
    color: #FFFFFF;
}

ion-icon {
    color: #FFFFFF;
}

/* .footer {
    background-color: #E50508;
    height: 80px;
    color: #FFFFFF;
    display: flex;
    font-size: 15px;
}

.footer h4 {
    text-align: center;
}

.footer .container {
    align-items: center;
    justify-content: center;
    display: flex;
} */