html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner {
  width: 40vw;
  height: 100vh;
  background-image: url('../assets/img/banner.png');
  background-size: cover;
}

.banner img {
  width: 350px;
  margin-top: 50px;
  margin-left: 85px;
}

.banner2 {
  width: 60vw;
  height: 100vh;
  background-color: beige;
}

.banner2 .container {
  height: 100%;
}

.dropbtn {
  color: #0E1170;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-size: 20px;
  padding: 16px;
  padding-left: 0;
  padding-right: 0;
  border: none;
}

.dropbtn:hover {
  background-color: transparent;
  color: #E50508;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: beige;
  min-width: 185px;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #E50508;
  text-decoration: underline;
}

.dropicon {
  color: #0E1170;
}

.navbar {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  color: #0E1170;
}

.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: #0E1170;
}

.agora {
  font-weight: 900;
  text-decoration: underline;
}

.borda {
  border: 2px solid #E50508;
  padding: 4px 20px;
  border-radius: 16px;
}

a:hover {
  color: #E50508;
  text-decoration: underline;
}

.borda:hover {
  border-color: #0E1170;
  color: #E50508;
}

.texto {
  height: 345px;
}

.texto p {
  color: #000000;
  font-size: 26px;
  width: 500px;
  padding-top: 90px;
  margin-right: 20px;
  display: flex;
}

.clique {
  width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.clique p {
  font-size: 15px;
  padding: 0;
  margin-top: 30px;
}

.clique img {
  width: 60px;
  margin: 0;
}

.clique img:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60px;
  border: none;
  background-position: top;
  transform: translateY(-10px);
  transition: 1s;
}

.sobre {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner3 {
  width: 60vw;
  height: 100vh;
  background-color: beige;
}

.banner3 .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  letter-spacing: 3px;
}

.banner3 .container p {
  width: 450px;
  font-size: 25px;
}

.pernambuco {
  background-image: linear-gradient(to bottom,
      #E50508,
      #fbff00,
      #1eff00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.banner4 {
  width: 40vw;
  height: 100vh;
  background-image: url('../assets/img/banner2.png');
  background-size: cover;
}

.sobre2 {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner5 {
  width: 40vw;
  height: 100vh;
  background-image: url('../assets/img/banner4.png');
  background-size: cover;
}

.banner6 {
  width: 60vw;
  height: 100vh;
  background-color: beige;
}

.banner6 .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  letter-spacing: 3px;
}

.banner6 .container p {
  width: 600px;
  font-size: 21px;
}

.sobre3 {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner7 {
  width: 60vw;
  height: 100vh;
  background-color: beige;
}

.banner7 .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  letter-spacing: 3px;
}

.banner7 .container p {
  width: 550px;
  font-size: 24px;
}

.banner7 .container p a {
  list-style: none;
  color: #fbff00;
}

.banner8 {
  width: 40vw;
  height: 100vh;
  background-image: url('../assets/img/banner5.png');
  background-size: cover;
}

.sobre4 {
  height: 100%;
  width: 100%;
  display: flex;
}

.banner9 {
  width: 40vw;
  height: 100vh;
  background-image: url('../assets/img/banner3.png');
  background-size: cover;
}

.banner10 {
  width: 60vw;
  height: 100vh;
  background-color: beige;
}

.banner10 .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  letter-spacing: 3px;
}

.banner10 .container p {
  width: 450px;
  font-size: 25px;
}

.avalie {
  display: flex;
  flex-direction: column;
  height: 40px;
}

.avalie img {
  width: 60px;
  align-self: center;
  margin-top: 30px;
}

.avalie img:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60px;
  border: none;
  background-position: top;
  transform: translateY(-10px);
  transition: 1s;
}

.content-footer {
  background-color: #E50508;
}

.content-footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-footer .container h4 {
  color: #FFFFFF;
}

ion-icon {
  color: #FFFFFF;
}

/* .buttonAvalie {
  cursor: pointer;
  border: 2px solid #E50508;
  border-radius: 25px;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 15px;
  color: black;
  background-color: transparent;
  width: 140px;
  height: 50px;
  align-self: center;
  margin-top: 80px;
}

button:hover {
  background-color: #ff3b3e;
  color: #FFFFFF;
  cursor: pointer;
} */